#header {
	height: 50px;
}


body {
	background-color: #CCE5FF;
	font-family: verdana, helvetica,arial,sans-serif;
	font-size: 11px;
}

a:link {font-weight: bold; color: #0066CC; text-decoration: none;}
a:visited {font-weight: bold; color: #0066CC; text-decoration: none;}
a:hover {font-weight: bold; color: #0066CC; text-decoration: none;}
a:active {font-weight: bold; color: #0066CC; text-decoration: none;}

a.generated-data:link {font-weight: normal; color: #000000; text-decoration: none;}
a.generated-data:visited {font-weight: normal; color: #000000; text-decoration: none;}
a.generated-data:hover {font-weight: normal; color: #000000; text-decoration: underline;}
a.generated-data:active {font-weight: normal; color: #000000; text-decoration: none;}

table {
	border-collapse: collapse;
}

#children-list {
	width: 50%;
	float: left;
}

.addNew {
	float: left;
}

.popUpWrapper {
	min-height:100%;
    	background-color: #B2B2B2;
    	overflow:hidden;
    	top:0px;
	display: none;
	z-index: 10000;
}

.popUpWrapper .popUpContent {
	margin:40px auto 0px auto;
   	width: auto;
    	height: auto;
    	padding:10px;
    	display: none;
	background-color: #CCE5FF;
	z-index: 10000;
}

.paramTitle {
	font-weight: bold;
}

.normal, .normal td, .normal th {
	border: thin solid #999999;
}

.noborder, .noborder td, .noborder th {
	border: none;
}

.thin {
	width: auto !important;
}

hr {
	color: white;
}

.greeting {
	text-align: center;
}

#start-button-img {
	text-align: center;
}

img#start-button {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

img#start-button:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#toolbar {
	background-color: #65B2FF;
}

.tb-button {
	padding: 3px 7px;
	text-align: center;
}

.tb-button:hover {
	background-color: #99CCFF;
}

.tb-button a:link {font-weight: bold; color: #001933; text-decoration: none;}
.tb-button a:visited {font-weight: bold; color: #001933; text-decoration: none;}
.tb-button a:hover {font-weight: bold; color: #001933; text-decoration: underline;}
.tb-button a:active {font-weight: bold; color: #001933; text-decoration: underline;}

#header div#lab {
	font-weight: bold;
	font-size: large;
	color: #0066CC;
}

#footer p {
	font-size: 9px;
	color: #004C99;
}

#footer span.name {
	font-weight: bolder;
}
#modal {
	position: fixed;
	left: -2%;
	top: -2%;
	height: 102%;
	width: 102%;
	background: #000;
	opacity: 0.7;
	display: none;
	z-index: 10000;
}
#modal_open {
	position: fixed;
	left: 50%;
	top: 50%;
	padding: 10px;
	border: 5px solid rgba(0,0,0,0.3);
	background: #fff;
	color: black;
	font-size: 16px;
	display: none;	
	width: auto;
	height: auto;
	z-index: 100000;
	border-radius: 6px;
}